﻿
@{
    Layout = null;
}

<!DOCTYPE html>


<html>

<head>
    <meta charset="utf-8" />
    <title>A4 VNEXPRESS</title>
    <link href="CSS/My_CSS.css" rel="stylesheet" />
</head>
<body>
    <div class="top-bar ">
        <div class="main-bar"
            <div class="contact-left">
                <img src="https://s1.vnecdn.net/vnexpress/restruct/i/v862/v2_2019/pc/graphics/logo.svg" alt="VnExpress - Bao tieng Viet nhieu nguoi xem nhat"><span><span>26 <sup>o</sup></span></span>
                <a>(0283) 123456 (HCM)</a>
                <a>(0243) 123456 (HN)</a>
                <button>Liên hệ quảng cáo </button>
                <button>Like</button>
                <button>Follow</button>
                <button>YouTube</button>

            </div>
           <div class=" login-right">
               <button>Đăng Ký</button>
               <button>Đăng Nhập</button>
               <input placeholder="Tìm Kiếm" />
            </div>
       </div>
    </div>


    <div class="main-conent"> @RenderBody()</div>
</body>
    

</html>
